html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: #c4eeff;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.header {
	border-bottom: 2px solid #ECECEC;
	width: 1100px;
	height: 80px;
	margin: 0 auto
}

span.menu {
	display: none;
}

.top-nav {
	float: left;
}

.top-nav ul {
	margin: 0;
	padding: 0;
}

.top-nav ul li {
	display: inline-block;
}

.top-nav ul li a {
	color: #747474;
	font-weight: 900;
	padding: 1.8em 1.3em;
	display: block;
	text-decoration: none;
	border: 1px solid #EEE;
	border-right: none;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 0.875em;
	position: relative;
}

.top-nav ul li.active a span {
	background: #e74c3c;
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.top-nav ul li.active a {
	color: #e74c3c;
}

/*-- content --*/
.content {
	width: 1100px;
	margin: 0 auto;
	padding: 1em 0 3em 0;
}

.artical {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.artical-left {
	width: 40%;
	flex-shrink: 0;
	margin-right: 30px;
}

.artical-left img {
	width: 100%;
	height: 230px;
	display: block;
}

.artical-right {
	width: 50%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
}

.artical-head {
	padding: 0em 0 0.6em;
}

.artical-head h2 {
	margin: 0;
	padding: 0;
	float: left;
}

.artical-right h2 a {
	color: #747474;
	font-size: 0.8em;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
}

.artical-info p {
	margin: 0;
	padding: 0.4em 0;
	font-size: 0.875em;
	color: #747474;
}

.artical-info p a {
	color: #747474;
	padding: 0 0.4em 0 0;
	text-decoration: none;
}

.artical-info p a:hover {
	color: #e74c3c;
}

.artical-info p strong {
	color: #747474;
	margin-right: 0.25em;
}

.artical {
	border: 1px solid #EEE;
	padding: 1em 0;
	margin-bottom: 1em;
}


.footer {
	width: 100%;
	position: relative;
}

.footer img {
	width: 100%;
}

.footer p {
	width: 100%;
	text-align: center;
	font-size: 72px;
	font-weight: 800;
	color: #fff;
	position: absolute;
	top: 50%;
}

/*-- details --*/

.top-header {
	border-bottom: 1px solid #EEE;
}

.artical-details h2 {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
	color: #747474;
}

.artical-details h2 a {
	color: #747474;
	text-decoration: none;
}

.artical-details-info-left {
	float: left;
	width: 40%;
}

.artical-details-info-left img {
	width: 100%;
}

.artical-details-info-right {
	float: right;
	width: 58%;
}

.artical-details-info-left a img {
	border: 1px solid #EEE;
	padding: 10px;
}

.artical-details-info {
	margin-top: 1em;
}

.artical-details-info-right h2 a {
	color: #747474;
	font-size: 0.8em;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
}

.artical-details-info-right h2 {
	margin: 0;
	padding: 0;
	float: left;
}

.artical-details-info-right p {
	margin: 0;
	padding: 0.4em 0;
	font-size: 1em;
	color: #747474;
}

.artical-details-info-right p strong {
	color: #747474;
	margin-right: 10px;
}

.dicription p {
	margin: 0;
	padding: 0.4em 0;
	font-size: 1em;
	color: #747474;
	line-height: 1.7em;
	margin-bottom: 1em;
}

.donate {
	width: 200px;
	display: block;
	padding: 0.5em;
	background: #747474;
	color: #FFF;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
}

.donate:hover {
	background: #e74c3c;
	color: #FFF;
}

.user-title {
	width: 200px;
	height: 80px;
	line-height: 80px;
	color: #0351f8;
	font-size: 28px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.user-list {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 80px;
	box-sizing: border-box;
}

.user-list .item {
	width: 230px;
	height: 80px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px 5px #bebebe;
	margin-bottom: 15px;
}

.user-list .item .icon {
	width: 50px;
	height: 50px;
}

.user-list .item .info {
	width: 140px;
	height: 50px;
}

.user-list .item .info .name,
.user-list .item .info .amount {
	width: 140px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.user-list .item .info .amount {
	font-size: 18px;
	font-weight: 800;
}

.categories {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	background: #FFF;
}

.categories .container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 8px 20px 0;
	box-sizing: border-box;
}

.categories-left {
	width: 70%;
	height: 40px;
	flex-shrink: 0;
}

.categories-right {
	flex-shrink: 0;
	height: 40px;
	width: 30%;
}

ul.options {
	margin: 0;
	padding: 0;
	float: left;
}

ul.options li {
	display: inline-block;
	margin-right: 0.4em;
}

ul.options li a {
	border: 1px solid #747474;
	padding: 0.5em 1.2em;
	font-size: 0.8em;
	text-decoration: none;
	display: block;
	color: #747474;
	background: #FFF;
}

ul.options li.select a {
	border: 1px solid red;
	padding: 0.5em 1.2em;
	font-size: 0.8em;
	text-decoration: none;
	display: block;
	color: red;
	background-color: lightpink;
}

ul.options li a:hover {
	border: 1px solid #e74c3c;
	color: #e74c3c;
}

.categories-right {
	position: relative;
}

.categories-right input[type="text"] {
	padding: 0.5em 1.2em;
	font-size: 0.8em;
	text-decoration: none;
	display: inline-block;
	color: #747474;
	background: #FFF;
	outline: none;
	width: 74%;
	position: relative;
}

.categories-right input[type="submit"].search,
.categories-right input[type="submit"].clear {
	background: #747474;
	color: #FFF;
	font-size: 0.875em;
	border: none;
	outline: none;
	position: absolute;
	padding: 0.5em 1.2em;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	transition: 0.5s all;
}

.categories-right input[type="submit"].search {
	right: 100px;
}

.categories-right input[type="submit"].clear {
	right: 0;
}

.categories-right input[type="submit"].search:hover {
	background: #0351f8;
}

.categories-right input[type="submit"].clear:hover {
	background: #e74c3c;
}

.selected {
	width: 1140px;
	margin: 0 auto;
	color: #0351f8;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}

.fundaries h1 {
	border: 1px solid #EEE;
	padding: 0.7em 0.5em;
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
	color: #747474;
	margin: 0 0 1em 0;
}

.fundaries-grids {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fundaries-grids .none {
	width: 800px;
	height: 100px;
	background-color: #e74c3c;
	line-height: 100px;
	text-align: center;
	color: #c4eeff;
	font-size: 30px;
	font-weight: 900;
	margin: 0 auto;
}

.fundaries-grid-pic img {
	width: 100%;
}

.fundaries-grid {
	flex-shrink: 1;
	width: 20%;
	margin-bottom: 20px;
	border: 1px solid #EEE;
	padding: 0.5em;
}

.fundaries-grid:nth-child(4),
.fundaries-grid:nth-child(8) {
	margin-right: 0;
}

.fundaries-grid-info {
	padding: 1em 0 0 0;
}

a.download-fundaries {
	display: block;
	padding: 0.8em;
	background: #747474;
	color: #FFF;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 1em;
}

a.download-fundaries:hover {
	background: #e74c3c;
}

.fundaries-grid-info p {
	color: #747474;
	margin-right: 0.25em;
}

.fundaries-grid-info p a {
	color: #747474;
}

.donate-content {
	width: 1100px;
	height: 500px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
}

.donate-content .info {
	width: 600px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.donate-content .info img {
	width: 600px;
	height: 400px;
}

.info-title {
	width: 600px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.donate-content .donate-box {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 30px;
	box-sizing: border-box;
}

.input-container {
	--c-text: rgb(50, 50, 80);
	--c-bg: rgb(252, 252, 252);
	--c-outline: rgb(55, 45, 190);
	display: grid;
	gap: 1ch;
	position: relative;
	max-width: 400px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

.input-field {
	padding: 0.5em 0.75em;
	border-radius: 0.2em;
	border: 1px solid var(--c-border, currentColor);
	color: var(--c-text);
	font-size: 1rem;
	letter-spacing: 0.1ch;
	width: 100%;
	margin-bottom: 40px;
}

.input-field:not(:placeholder-shown)+.input-label {
	transform: translateY(-220%);
	opacity: 1;
}

.input-field:invalid {
	--c-border: rgb(230, 85, 60);
	--c-text: rgb(230, 85, 60);
	--c-outline: rgb(230, 85, 60);
}

.input-field:is(:disabled, :read-only) {
	--c-border: rgb(150, 150, 150);
	--c-text: rgb(170, 170, 170);
}

.input-field:is(:focus, :focus-visible) {
	outline: 2px solid var(--c-outline);
	outline-offset: 2px;
}

.input-label {
	--timing: 200ms ease-in;
	position: absolute;
	left: 0;
	top: 20%;
	transition: transform var(--timing), opacity var(--timing);
	transform: translateY(-50%);
	opacity: 0;
	color: var(--c-text);
	font-weight: 500;
}

button {
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 6px 6px 12px #c5c5c5,
		-6px -6px 12px #ffffff;
}

button::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
}

button:hover::before {
	width: 9em;
}